@media (max-width:468px) {
  nav {
    position: fixed;
    width: 100%;
    color: white;
  }
  nav .nav-self-brand {
    position: relative;
    z-index: 999;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  nav .nav-self-brand .button-nav {
    position: relative;
    top: 0px;
    width: 7%;
    height: 100%;
    display: flex;
  }
  nav .nav-self-brand .button-nav button{
    border: 0px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.4rem;
  }
  nav .nav-self-brand .button-nav .hide {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: 0.1s linear;
    rotate: -90deg;
  }
  nav .nav-self-brand .button-nav .hide.active {
    position: relative;
    z-index: 0;
    opacity: 1;
    rotate: 0deg;
  }
  nav .nav-self-brand .button-nav .show {
    position: relative;
    opacity: 1;
    transition: 0.2s linear;
  }
  nav .nav-self-brand .button-nav .show.active {
    position: absolute;
    z-index: -10;
    opacity: 0;
    rotate: 90deg;
  }
  nav ul {
    position: fixed;
    top: -60%;
    opacity: 0;
    padding: 100px 0 0 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s linear;
  }
  nav ul.active {
    top: 0;
    opacity: 1;
    transition: 0.4s linear;
  }
  nav ul li {
    height: 50px;
  }
  nav ul li a {
    color: white;
    font-weight: 600;
  }
  nav ul li a:hover {
    font-size: 0.9rem;
  }
  
}
@media (min-width:469px) {
  nav {
    position: fixed;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
  }
  nav .nav-self-brand {
    padding: 5px 10px;
  }
  nav .nav-self-brand .button-nav {
    display: none;
  }
  nav ul {
    z-index: 999;
    display: flex;
    justify-content: right;
  }
  nav ul.active {
    top: 0;
    opacity: 1;
    transition: 0.4s linear;
  }
  nav ul li {
    padding: 0px 10px;
  }
  nav ul li a {
    color: white;
    font-size: 0.9rem;
  }
  nav ul li a:hover {
    font-size: 0.9rem;
  }
  
}