@media (max-width:597px) {
  nav {
    color: white;
  }
  nav .nav-self-brand {
    position: relative;
    z-index: 999;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
  }
  nav .nav-self-brand .brand {
    display: flex;
    align-items: center;
    width: 100%;
  }
  nav .nav-self-brand .brand .circle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
    margin: 0 5px 0 0;
  }
  nav .nav-self-brand .button-nav {
    position: relative;
    top: 0px;
    width: 30px;
    height: 100%;
    display: flex;
  }
  nav .nav-self-brand .button-nav button{
    border: 0px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    font-size: 2rem;
  }
  nav .nav-self-brand .button-nav .hide {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: 0.2s linear;
    rotate: -90deg;
  }
  nav .nav-self-brand .button-nav .hide.active {
    position: relative;
    z-index: 999;
    opacity: 1;
    rotate: 0deg;
    color: red;
  }
  nav .nav-self-brand .button-nav .show {
    position: relative;
    opacity: 1;
    z-index: 999;
    transition: 0.2s linear;
  }
  nav .nav-self-brand .button-nav .show.active {
    position: absolute;
    z-index: -10;
    opacity: 0;
    rotate: 90deg;
  }
  nav ul {
    position: fixed;
    z-index: 998;
    top: -10%;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;
  }
  nav ul.active {
    top: 0;
    opacity: 1;
  }
  nav ul li {
    height: 50px;
  }
  nav ul li a {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
  }
  nav ul li a:hover {
    font-size: 0.9rem;
  }
  nav .bg-color {
    width: 100%;
    height: 30vh;
    background-color: brown;
  }
  
}
@media (min-width:598px) {
  nav {
    position: fixed;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  nav .nav-self-brand {
    padding: 5px 10px;
  }
  nav .nav-self-brand .brand {
    font-size: 1.3rem;
    font-weight:600;
  }
  nav .nav-self-brand .button-nav {
    display: none;
  }
  nav ul {
    z-index: 999;
    display: flex;
    justify-content: right;
  }
  nav ul.active {
    top: 0;
    opacity: 1;
    transition: 0.4s linear;
  }
  nav ul li {
    padding: 0px 10px;
  }
  nav ul li a {
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
  }
  nav ul li a:hover {
    font-size: 0.9rem;
  }
  
}