@media (max-width:597px) {
html.active {
  overflow: hidden;
}
body {
  background-color: #F3F3E0;
}
main .container {
}
main .container > * {
}
.container .isi-content {
  position: relative;
  
}
.container .isi-content-2 {
  display: none;
}
.container .isi-content .content-head-1 {
  position: relative;
  z-index: 10;
  top: 60px;
  right: -10%;
  width: 90%;
  height: 240px;
  padding: 35px 0px;
  background-color: #133E87;
  color: black;
  text-align: center;
  box-shadow: -10px 10px 15px 1px #94a1adb7;
}
.container .isi-content .content-head-1 .content-1-text {
  padding: 10px 0 10px 0;
}
.container .isi-content .content-head-1 .content-1-text h5{
  font-size: 1.3rem;
  color: aqua;
}
.container .isi-content .content-head-1 .content-1-text hr{
  margin: 8px auto;
  width: 50px;
  color: #CBDCEB;
  border: 2.5px solid;
}
.container .isi-content .content-head-1 img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 100%;
}
.container .isi-content .content-head-1 .button-content-2 > * {
  margin: 0px 10px;
}
.container .isi-content .content-head-1 .button-content-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container .isi-content .content-head-1 .bottom-content-1 {
  position: absolute;
  bottom: 4%;
  width: 100%;
  background-color: white;
  color: black;
}
.container .isi-content .content-head-1 .bottom-content-1 ul {
  display: flex;
  justify-content: center;
}
.container .isi-content .content-head-1 .bottom-content-1 ul > * {
  padding: 5px 10px;
}
.container .isi-content .content-head-1 .bottom-content-1 ul li a { 
  text-decoration: none;
  color: black;
}
.container .isi-content .content-head-2 {
  position: relative;
  top: 80px;
  padding: 50px 15px 150px 15px;
}

.container-2 {
  padding: 50px 15px;
  max-width: 350px;
  margin: 0 auto;
}
.container-2 h4 {
  font-size: 1.3rem;
  padding: 20px 0 20px 0;
}
.container-2 hr {
  margin: 0 0 0 10px;
  width: 100px;
  border: 1.4px solid black;
}
.container-2 p {
  padding: 0 0 8px 0;
}
.container-2 .squre {
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-2 .circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-2 .button-container-2 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.container-2 ul li{
  padding: 0 0 10px 0;
}
.container-2 .button-container-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container-2 .brand-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .resume-content-pendidikan {
  position: relative;
}
.container-2 .resume-content-pendidikan .pendidikan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pendidikan .resume-pendidikan {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-pengalaman {
  position: relative;
}
.container-2 .resume-content-pengalaman .pengalaman {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pengalaman .resume-pengalaman {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-kemampuan {
  position: relative;
}
.container-2 .resume-content-kemampuan .kemampuan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-kemampuan .resume-kemampuan {
  display: flex;
  justify-content: space-between;
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-hobi {
  position: relative;
}
.container-2 .resume-content-hobi .hobi {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-hobi .resume-hobi {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}

/* Continaer 3 */
.container-3 {
  overflow: hidden;
}
.container-3 .squre {
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-3 .hub-say {
  margin: 80px 0 80px 0;
}
.container-3 .head-hub { 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
} 
.container-3 .card-hub {
  max-width: 60%;
  margin: 0 5px 0 auto;
  padding: 25px 70px 25px 25px;
  background-color: brown;
  box-shadow: -7px 7px 20px 0px rgba(0, 0, 0, 0.57);
}
.container-3 .card-hub > * {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 0;
}
.container-3 .card-hub > * label{ 
  padding: 0 0 15px 0;
}
.container-3 .card-hub > * input ,.container-3 .card-hub > * textarea{ 
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  resize: none;
  transition: 0.2s ease-in-out;
  padding: 5px;
}
.container-3 input:focus,.container-3 textarea:focus {
  border-bottom: 1px solid aqua;
  outline: none;
}
.container-3 .card-hub .sub-but button {
  width: 90px;
  background-color: white;
  border-radius: 10px;
  padding: 7px 15px;
  border: none;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.374);
}
.container-3 .card-hub .sub-but button:hover { 
  transform: scale(1.15);
}
.container-3 .card-hub .card-hub-fl {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.container-3 .card-hub .card-hub-fl > *{ 
  padding: 0 0 30px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.container-3 .card-hub .card-hub-fl label{ 
  padding: 0 0 15px 0;
}

/* COntainer 4 */

.container-4 {
  margin: 50px 0;
}
.container-4 .head-cont {
  text-align: center;
  padding: 15px 15px 60px 15px;
}
.container-4 .head-cont .head-content-4 { 
  padding: 0 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-4 .head-cont .head-content-4 .squre{ 
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-4 .card-port .card-body {
  background-color: brown;
  max-width: 80%;
  position: relative;
  right: 0;
  margin: 0 5px 0 auto;
  box-shadow: -7px 7px 20px 0px rgba(0, 0, 0, 0.57);
}
.container-4 .card-port .card-body .head-card-text > * {
  margin: 0 0 20px 0;
}
.container-4 .card-port .card-body .head-card-text {
  padding: 20px 25px;
}
.container-4 .card-port .card-body .head-card-text a { 
  text-decoration: none;
  background-color: white;
  padding: 7px 15px;
  color: black;
  border-radius: 10px;
  box-shadow: -2px 2px 5px 0px black;
}
.container-4 .card-port .card-body .head-card-text .head-card-text-rel {
  position: relative;
}
.container-4 .card-port .card-body .head-card-text .head-card-text-rel .squre-2{ 
  width: 43px;
  height: 40px;
  background-color: aqua;
  position: absolute;
  left: -54px;
  clip-path: inset(0 0 0 28.5px);
}
.container-4 .card-port .card-body .body-card-img { 
}
.container-4 .card-port .card-body .body-card-img img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
}

@media (min-width:598px) {
body {
    background-color: #F3F3E0;
  }
  main {
  }
  main .container {
    position: relative;
    z-index: 10;
    }
  .container .isi-content {
    display: none;
  }
  .container .isi-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100vh;
    margin: auto;
  }
  .container .isi-content-2 > *{
    margin: 0px 10px;
  }
  .container .isi-content-2 .content-head-1 {
    position: relative;
    text-align: center;
    height: 350px;
    padding: 10px 15px;
    background-color: #133E87;
    width: 100%;
    box-shadow: -10px 10px 15px 1px #94a1adb7;
  }
  .container .isi-content-2 .content-head-1 img{ 
    padding: 10px 0 30px 0;
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 100%;
  }
  .container .isi-content-2 .content-head-1 .content-1-text h5{ 
    color: aqua;
    font-size: 1.8rem;
  }
  .container .isi-content-2 .content-head-1 .content-1-text hr{
    width: 20%;
    border: 2px solid aqua;
    margin: 15px auto;
  } 
  .container .isi-content-2 .content-head-1 .content-1-text h6{
    color: aqua;
    font-size: 1rem;
  }
  .container .isi-content-2 .content-head-1 .bottom-content-1 ul{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;    
  }
  .container .isi-content-2 .content-head-1 .bottom-content-1 ul > * {
    padding: 10px 15px;
    font-size: 1.4rem;
  }
  .container .isi-content-2 .content-head-1 .bottom-content-1 ul li a { 
    text-decoration: none;
    color: black;
  }
  .container .isi-content-2 .content-head-2 {
    width: 140%;
  }
  
.container .isi-content-2 .content-head-2 .button-content-2 > * {
  margin: 0px 10px;
}
.container .isi-content-2 .content-head-2 .button-content-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #133E87;
  font-size: 0.8rem;
  font-weight: 600;
  transition: transform 0.2s ease-in-out; 
  display: inline-block;
} 
.container .isi-content-2 .content-head-2 .button-content-2 a:hover{
  transform: scale(1.1);
}

/* Container 2 */

.container-2 {
  padding: 150px 15px;
  max-width: 700px;
  margin: 0 auto;
}
.container-2 h4 {
  font-size: 1.3rem;
  padding: 20px 0 20px 0;
}
.container-2 hr {
  margin: 0 0 0 10px;
  width: 100px;
  border: 1.4px solid black;
}
.container-2 p {
  padding: 0 0 8px 0;
}
.container-2 .squre {
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-2 .circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-2 .button-container-2 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.container-2 ul li{
  padding: 0 0 10px 0;
}
.container-2 .button-container-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container-2 .brand-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .resume-content-pendidikan {
  position: relative;
}
.container-2 .resume-content-pendidikan .pendidikan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pendidikan .resume-pendidikan {
  display: flex;
  align-items: center;
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}
.container-2 .resume-content-pendidikan .resume-pendidikan > * { 
  padding: 10px;
}
.container-2 .resume-content-pendidikan .resume-pendidikan .side-left{ 
  min-width: 300px;
}


.container-2 .resume-content-pengalaman {
  position: relative;
}
.container-2 .resume-content-pengalaman .pengalaman {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pengalaman .resume-pengalaman {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}
.container-2 .resume-content-pengalaman .pengalaman-content {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pengalaman .resume-pengalaman > * { 
  padding: 10px;
}
.container-2 .resume-content-pengalaman .resume-pengalaman .side-left{ 
  min-width: 300px;
}


.container-2 .resume-content-kemampuan {
  position: relative;
}
.container-2 .resume-content-kemampuan .kemampuan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-kemampuan .resume-kemampuan {
  display: flex;
  justify-content: space-around;
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-hobi {
  position: relative;
}
.container-2 .resume-content-hobi .hobi {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-hobi .resume-hobi {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}

/* Continaer 3 */
.container-3 {
  padding: 150px 30px;
}
.container-3 .squre {
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-3 .hub-say {
  max-width: 600px;  
  margin: 0 auto;
}
.container-3 .head-hub { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
} 
.container-3 .card-hub {
  padding: 50px;
  background-color: brown;
  box-shadow: -7px 7px 20px 0px rgba(0, 0, 0, 0.57);
}
.container-3 .card-hub > * {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 0;
}
.container-3 .card-hub > * label{ 
  padding: 0 0 15px 0;
}
.container-3 .card-hub > * input ,.container-3 .card-hub > * textarea{ 
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  resize: none;
  transition: 0.2s ease-in-out;
  padding: 5px;
}
.container-3 input:focus,.container-3 textarea:focus {
  border-bottom: 1px solid aqua;
  outline: none;
}
.container-3 .card-hub .sub-but button {
  width: 90px;
  background-color: white;
  border-radius: 10px;
  padding: 7px 15px;
  border: none;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.374);
}
.container-3 .card-hub .sub-but button:hover { 
  transform: scale(1.15);
}
.container-3 .card-hub .card-hub-fl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding: 0;
}
.container-3 .card-hub .card-hub-fl > *{ 
  padding: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  width: 45%;
}
.container-3 .card-hub .card-hub-fl label{ 
  padding: 0 0 15px 0;
}



/* COntainer 4 */

.container-4 {
  padding: 150px 30px;
}
.container-4 .head-cont {
  text-align: center;
  padding: 15px 15px 60px 15px;
  max-width: 650px;
  margin: 0 auto;
}
.container-4 .head-cont .head-content-4 { 
  padding: 0 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-4 .head-cont br { 
  display: none;
} 
.container-4 .head-cont .head-content-4 .squre{ 
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background-color: aqua;
}
.container-4 .card-port .card-body {
  display: flex;
  background-color: brown;
  max-width: 650px;
  position: relative;
  right: 0;
  margin: 0 auto;
  box-shadow: -7px 7px 20px 0px rgba(0, 0, 0, 0.57);
}
.container-4 .card-port .card-body > * {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}
.container-4 .card-port .card-body .head-card-text > * {
  margin: 0 0 20px 0;
}
.container-4 .card-port .card-body .head-card-text {
  padding: 20px 25px;
}
.container-4 .card-port .card-body .head-card-text a { 
  text-decoration: none;
  background-color: white;
  padding: 7px 15px;
  color: black;
  border-radius: 10px;
  box-shadow: -2px 2px 5px 0px black;
}
.container-4 .card-port .card-body .head-card-text .head-card-text-rel {
  position: relative;
}
.container-4 .card-port .card-body .head-card-text .head-card-text-rel .squre-2{ 
  width: 43px;
  height: 40px;
  background-color: aqua;
  position: absolute;
  left: -54px;
  clip-path: inset(0 0 0 28.5px);
}
.container-4 .card-port .card-body .body-card-img { 
}
.container-4 .card-port .card-body .body-card-img img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
}


  /* Footer */
  @media (max-width:597px) {
    footer {
      position: relative;
      background-color: #CBDCEB;
    }
    footer .footer-lits {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      padding: 15px 10px;
    }
    footer .footer-lits > * {
    }
    footer .footer-lits a{ 
      color: black;
      text-decoration: none;
    }
    footer .footer-medsos {
      padding: 15px 10px;
    }
    footer .footer-medsos ul {
      list-style: none;
      display: flex;
    }
    footer .footer-medsos ul > * {
      padding: 5px 10px;
      font-size: 1.5rem;
      color: black;
    }
    footer .footer-medsos ul li a { 
      color: black;
      text-decoration: none;
    }
    footer .footer-detail {
      padding: 15px 10px;
      font-size: 1rem;
    }

  }
  @media (min-width:598px) {
    footer {
      position: relative;
      background-color: #F3F3E0;
      display: flex;
      align-items: center;
    }
    footer .footer-lits {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      padding: 15px 10px;
      width: 280px;
    }
    footer .footer-lits > * {
    }
    footer .footer-lits a{ 
      color: black;
      text-decoration: none;
    }
    footer .footer-medsos {
      padding: 15px 10px;
    }
    footer .footer-medsos ul {
      list-style: none;
      display: flex;
    }
    footer .footer-medsos ul > * {
      padding: 5px 10px;
      font-size: 1.1rem;
    }
    footer .footer-medsos ul li a { 
      color: black;
      text-decoration: none;
    }
    footer .footer-detail {
      margin: 0 0 0 auto;
      padding: 15px 10px;
      font-size: 0.8rem;
    }
    
  }
  /* Close Footer */