@media (max-width:597px) {
html.active {
  overflow: hidden;
}
body {
  background-color: #F3F3E0;
}
main .container {
  /* padding: 10px; */
}
main .container > * {
  z-index: -1;
}
.container .isi-content {
  position: relative;
  
}
.container .isi-content-2 {
  display: none;
}
.container .isi-content .content-head-1 {
  position: relative;
  top: 60px;
  right: -10%;
  width: 90%;
  height: 240px;
  padding: 35px 0px;
  background-color: #133E87;
  color: black;
  text-align: center;
  box-shadow: -10px 10px 15px 1px #94a1adb7;
}
.container .isi-content .content-head-1 .content-1-text {
  padding: 10px 0 20px 0;
}
.container .isi-content .content-head-1 .content-1-text h5{
  font-size: 1.3rem;
  color: aqua;
}
.container .isi-content .content-head-1 .content-1-text hr{
  margin: 8px auto;
  width: 50px;
  color: #CBDCEB;
  border: 2.5px solid;
}
.container .isi-content .content-head-1 img{
  width: 100px;
}
.container .isi-content .content-head-1 .button-content-2 > * {
  margin: 0px 10px;
}
.container .isi-content .content-head-1 .button-content-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container .isi-content .content-head-1 .bottom-content-1 {
  position: absolute;
  bottom: 4%;
  width: 100%;
  background-color: white;
  color: black;
}
.container .isi-content .content-head-1 .bottom-content-1 ul {
  display: flex;
  justify-content: center;
}
.container .isi-content .content-head-1 .bottom-content-1 ul > * {
  padding: 5px 10px;
}
.container .isi-content .content-head-2 {
  position: relative;
  top: 80px;
  padding: 50px 15px 150px 15px;
}

.container-2 {
  padding: 50px 15px;
  max-width: 350px;
  margin: 0 auto;
}
.container-2 h4 {
  font-size: 1.3rem;
  padding: 20px 0 20px 0;
}
.container-2 hr {
  margin: 0 0 0 10px;
  width: 100px;
  border: 1.4px solid black;
}
.container-2 p {
  padding: 0 0 8px 0;
}
.container-2 .squre {
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  background-color: black;
}
.container-2 .circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 10px 0 0;
  background-color: black;
}
.container-2 .button-container-2 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.container-2 ul li{
  padding: 0 0 10px 0;
}
.container-2 .button-container-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container-2 .brand-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .resume-content-pendidikan {
  position: relative;
}
.container-2 .resume-content-pendidikan .pendidikan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pendidikan .resume-pendidikan {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-pengalaman {
  position: relative;
}
.container-2 .resume-content-pengalaman .pengalaman {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pengalaman .resume-pengalaman {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-kemampuan {
  position: relative;
}
.container-2 .resume-content-kemampuan .kemampuan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-kemampuan .resume-kemampuan {
  display: flex;
  justify-content: space-between;
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-hobi {
  position: relative;
}
.container-2 .resume-content-hobi .hobi {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-hobi .resume-hobi {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}

}

@media (min-width:598px) {
body {
    background-color: #F3F3E0;
  }
  main {
  }
  main .container {
    position: relative;
    z-index: 10;
    }
  .container .isi-content {
    display: none;
  }
  .container .isi-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100vh;
    margin: auto;
  }
  .container .isi-content-2 > *{
    margin: 0px 10px;
  }
  .container .isi-content-2 .content-head-1 {
    position: relative;
    text-align: center;
    height: 350px;
    padding: 10px 15px;
    background-color: #133E87;
    width: 100%;
    box-shadow: -10px 10px 15px 1px #94a1adb7;
  }
  .container .isi-content-2 .content-head-1 img{ 
    padding: 10px 0 30px 0;
    width: 120px;
  }
  .container .isi-content-2 .content-head-1 .content-1-text h5{ 
    color: aqua;
    font-size: 1.8rem;
  }
  .container .isi-content-2 .content-head-1 .content-1-text hr{
    width: 20%;
    border: 2px solid aqua;
    margin: 15px auto;
  } 
  .container .isi-content-2 .content-head-1 .content-1-text h6{
    color: aqua;
    font-size: 1rem;
  }
  .container .isi-content-2 .content-head-1 .bottom-content-1 ul{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;    
  }
  .container .isi-content-2 .content-head-1 .bottom-content-1 ul > * {
    padding: 10px 15px;
    font-size: 1.4rem;
  }
  .container .isi-content-2 .content-head-2 {
    width: 140%;
  }
  
.container .isi-content-2 .content-head-2 .button-content-2 > * {
  margin: 0px 10px;
}
.container .isi-content-2 .content-head-2 .button-content-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #133E87;
  font-size: 0.8rem;
  font-weight: 600;
  transition: transform 0.2s ease-in-out; 
  display: inline-block;
} 
.container .isi-content-2 .content-head-2 .button-content-2 a:hover{
  transform: scale(1.1);
}



.container-2 {
  padding: 150px 15px;
  max-width: 700px;
  margin: 0 auto;
}
.container-2 h4 {
  font-size: 1.3rem;
  padding: 20px 0 20px 0;
}
.container-2 hr {
  margin: 0 0 0 10px;
  width: 100px;
  border: 1.4px solid black;
}
.container-2 p {
  padding: 0 0 8px 0;
}
.container-2 .squre {
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  background-color: black;
}
.container-2 .circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 10px 0 0;
  background-color: black;
}
.container-2 .button-container-2 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.container-2 ul li{
  padding: 0 0 10px 0;
}
.container-2 .button-container-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container-2 .brand-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .resume-content-pendidikan {
  position: relative;
}
.container-2 .resume-content-pendidikan .pendidikan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pendidikan .resume-pendidikan {
  display: flex;
  align-items: center;
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}
.container-2 .resume-content-pendidikan .resume-pendidikan > * { 
  padding: 10px;
}
.container-2 .resume-content-pendidikan .resume-pendidikan .side-left{ 
  min-width: 300px;
}


.container-2 .resume-content-pengalaman {
  position: relative;
}
.container-2 .resume-content-pengalaman .pengalaman {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pengalaman .resume-pengalaman {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}
.container-2 .resume-content-pengalaman .pengalaman-content {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-pengalaman .resume-pengalaman > * { 
  padding: 10px;
}
.container-2 .resume-content-pengalaman .resume-pengalaman .side-left{ 
  min-width: 300px;
}


.container-2 .resume-content-kemampuan {
  position: relative;
}
.container-2 .resume-content-kemampuan .kemampuan {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-kemampuan .resume-kemampuan {
  display: flex;
  justify-content: space-around;
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}


.container-2 .resume-content-hobi {
  position: relative;
}
.container-2 .resume-content-hobi .hobi {
  display: flex;
  align-items: center;
}
.container-2 .resume-content-hobi .resume-hobi {
  background-color: #133E87;
  color: aqua;
  padding: 15px;
  margin: 0 0 50px 0;
  box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.483);
}
}


  /* Footer */
  @media (max-width:597px) {
    footer {
      position: relative;
      background-color: #CBDCEB;
    }
    footer .footer-lits {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      padding: 15px 10px;
    }
    footer .footer-lits > * {
    }
    footer .footer-lits a{ 
      color: black;
      text-decoration: none;
    }
    footer .footer-medsos {
      padding: 15px 10px;
    }
    footer .footer-medsos ul {
      list-style: none;
      display: flex;
    }
    footer .footer-medsos ul > * {
      padding: 5px 10px;
      font-size: 1.5rem;
    }
    footer .footer-detail {
      padding: 15px 10px;
      font-size: 1rem;
    }

  }
  @media (min-width:598px) {
    footer {
      position: relative;
      background-color: #F3F3E0;
      display: flex;
      align-items: center;
      box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.4);
    }
    footer .footer-lits {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      padding: 15px 10px;
      width: 230px;
    }
    footer .footer-lits > * {
    }
    footer .footer-lits a{ 
      color: black;
      text-decoration: none;
    }
    footer .footer-medsos {
      padding: 15px 10px;
    }
    footer .footer-medsos ul {
      list-style: none;
      display: flex;
    }
    footer .footer-medsos ul > * {
      padding: 5px 10px;
      font-size: 1.1rem;
    }
    footer .footer-detail {
      margin: 0 0 0 auto;
      padding: 15px 10px;
      font-size: 0.8rem;
    }
    
  }
  /* Close Footer */