@media (max-width:597px) {
html.active {
  overflow: hidden;
}
body {
  background-color: #F3F3E0;
}
main .container {
  /* padding: 10px; */
}
main .container > * {
  z-index: -1;
}
.container .isi-content {
  position: relative;
  
}
.container .isi-content .content-head-1 {
  position: relative;
  top: 60px;
  right: -10%;
  width: 90%;
  height: 240px;
  padding: 35px 0px;
  background-color: #133E87;
  color: black;
  text-align: center;
  box-shadow: -10px 10px 15px 1px #94a1ad80;
}
.container .isi-content .content-head-1 .content-1-text {
  padding: 10px 0 20px 0;
}
.container .isi-content .content-head-1 .content-1-text h5{
  font-size: 1.3rem;
  color: aqua;
}
.container .isi-content .content-head-1 .content-1-text hr{
  margin: 8px auto;
  width: 50px;
  color: #CBDCEB;
  border: 2.5px solid;
}
.container .isi-content .content-head-1 img{
  width: 100px;
}
.container .isi-content .content-head-1 .button-content-2 > * {
  margin: 10px;
}
.container .isi-content .content-head-1 .button-content-2 a {
  text-decoration: none;
  color: aqua;
  background-color: #608BC1;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px #cbdceb91;
  font-size: 0.8rem;
  font-weight: 600;
} 
.container .isi-content .content-head-1 .bottom-content-1 {
  position: absolute;
  bottom: 4%;
  width: 100%;
  background-color: white;
  color: black;
}
.container .isi-content .content-head-1 .bottom-content-1 ul {
  display: flex;
  justify-content: center;
}
.container .isi-content .content-head-1 .bottom-content-1 ul > * {
  padding: 5px 10px;
}
.container .isi-content .content-head-2 {
  position: relative;
  top: 80px;
  padding: 50px 15px 150px 15px;
}
}
/* .container .isi-content .content-head-2 > * {
  padding: 10px;
}
.container .isi-content .content-head-2 .content-2-text {

}
.container .isi-content .content-head-2 .button-content-2 {
  display: flex;
  justify-content: space-around;
}
.container .isi-content .content-head-2 .button-content-2 a {
  text-decoration: none;
  color: black;
  background-color: aqua;
  padding: 7px 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px black;
  font-size: 0.8rem;
  font-weight: 600;
} */


  /* Footer */

  footer {
    position: relative;
    background-color: #CBDCEB;
  }
  footer .footer-lits {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 15px 10px;
  }
  footer .footer-lits > * {
  }
  footer .footer-lits a{ 
    color: black;
    text-decoration: none;
  }
  footer .footer-medsos {
    padding: 15px 10px;
  }
  footer .footer-medsos ul {
    list-style: none;
    display: flex;
  }
  footer .footer-medsos ul > * {
    padding: 5px 10px;
    font-size: 1.5rem;
  }
  footer .footer-detail {
    padding: 15px 10px;
    font-size: 1rem;
  }
  /* Close Footer */